*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.img-logo {
    width: 50px;
    height: auto;
}

.hero-image img {
    filter: brightness(50%);
}

.hero-text {
    text-align:center; 
    position: absolute; 
    font-size: 18px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow; 
}

.card {
    margin-top: 36px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.breadcrumb {
    margin-top: 10px;
}

.rounded-circle {
    width: 150px;
}

.company-list hr:last-child {
    display: none;
}

.password-size {
    font-size: 0.75rem;
}

.company-listing a {
    text-decoration: none;
}

.company-listing a:hover {
    text-decoration: underline;
    color: brown;
}